
body.menu {
  color:#FFFFFF;
  font-size:10pt;
  /* margin-top:5pt;
  margin-left:0pt;
  margin-bottom:0pt;
  margin-right:0pt; */
  background-color:#00CCFF;
}
body{
  width:100%;
  text-align:center;
  margin-left:10px;
  margin-right:10px;
  background-color:#CCD5DA;
}
a{
	font-family:Arial;
  color:#000000;
  text-decoration:underline
}
a:link {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#000000;
}
a:active {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#000000;
}
a:visited {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#000000;
}
a:hover {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#FF0000;
}
a.pdf{
	font-family:Arial;
  color:#000000;
  text-decoration:underline
}
a:link.pdf {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#000000;
}
a:active.pdf {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#000000;
}
a:visited.pdf {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#000000;
}
a:hover.pdf {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#FF0000;
}

a.sup {
	font-family:Arial;
  font-size:8pt;
  text-decoration:underline;
  color:#000000;
  font-weight:normal;
}
a:link.sup {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#000000;
}
a:active.sup {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#000000;
}
a:visited.sup {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#000000;
}
a:hover.sup {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#FF0000;
}

a.sb {
	font-family:Arial;
  font-size:8pt;
  text-decoration:underline;
  color:#000000;
  font-weight:normal;
}
a:link.sb {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#000000;
}
a:active.sb {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#000000;
}
a:visited.sb {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#000000;
}
a:hover.sb {
	font-family:Arial;
  font-size:8pt;
  text-decoration:none;
  color:#FF0000;
}


table.data {
  border-style:none;
  border-width:0pt;
  background-color:#000000;
}
td {
  font-size:11pt;
}
td.disptitle {
  color:#FFFFFF;
  font-size:18pt;
  font-weight:bold;
  border-style:solid;
  border-width:1pt;
  border-color:#FFFFFF;
  background-color:#00309C;
}
td.cmd {
  color:#00009C;
  font-size:12pt;
  font-weight:bold;
  border-style:solid;
  border-width:1pt;
  border-color:#000000;
  background-color:#DCDCDC;
}
td.menu {
  color:#00009C;
  font-size:10pt;
  font-weight:bold;
  border-style:double;
  border-width:2pt;
  border-color:#000000;
  background-color:#0099FF;
}
td.datahead {
  color:#FFFFFF;
  font-size:10pt;
  font-weight:bold;
  background-color:#6E6AFF;
}
td.datadetail {
  color:#000000;
  font-size:10pt;
  font-weight:bold;
  background-color:#FFFFFF;
}
td.data {
  color:#000000;
  font-size:10pt;
  font-weight:bold;
  border-style:solid;
  border-width:1pt;
  border-color:#C0C0C0;
  background-color:#FFFFFF;
}
.obj {
  font-size:14pt;
}
h1{
        width:760px;
        color:#FFFFFF;
        background-color:#66CCFF;
        font-size:18pt;
}
hr{
        width:760px;
}
.MenuArea{
        text-align:left;
        margin-left:0px;
        margin-top:0px;
        position:absolute;
        left:0px;
        top:0px;
}
.fd{
	font-family:Arial;
  font-size:8pt;
  cursor:hand;
  border-style:none;
  border-width:0;
}
.TopItem{
  color:#000000;
  font-size:14pt;
  font-weight:bold;
  cursor:hand
}


td.listhead {
  color:#000000;
  font-size:10pt;
  font-weight:bold;
  border-style:none;
  border-width:1pt;
  border-color:#FFFFFF;
  background-color:#DCDCDC;
}
td.listdetail {
  color:#FFFFFF;
  font-size:10pt;
  font-weight:bold;
  border-style:none;
  border-width:1pt;
  border-color:#C0C0C0;
}
body.tree {
  scrollbar-base-color : #dddddd;
  scrollbar-face-color : #dddddd; 
  scrollbar-track-color: #dddddd;
  scrollbar-arrow-color : #757575; 
  scrollbar-3dlight-color: #757575;
  scrollbar-highlight-color : #dddddd; 
  scrollbar-shadow-color : #dddddd;
  scrollbar-darkshadow-color : #757575;
  border-width:0px;
  border-style:solid;
}
table {
	font-family:Arial;
}
font.treedata {
	font-family:Arial;
  font-size:8pt;
}
img.treeimg {
  border-style:solid;
  border-width:0;
}
