<!DOCTYPE html>
<html>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="Content-Style-Type" content="text/css">
<link rel=stylesheet href="/styles/main.css">
<title>Relay</title>
<script language="JavaScript" src="/scripts/lib.js"></script>
<SCRIPT for="window" event="onload">

	var pageParam = -1;
	var arrayPage;

	function document_onload(){
		if( window.location.search != "" ){
			pageParam = getParam(window.location.search, "page");
			path = getParam(window.location.search, "path");

			arrayPage = pageParam.split("+");
			if( arrayPage == null )	return;
			
			setPDF( path + arrayPage[0] );
			i_menuFrame.initPageInfo( arrayPage );
		} else {
			console.log("search is blank");
		}

	}

	function getPageArray(){
		return arrayPage; 
	}

	function getParam( query, param ){
		var val = "";

		var ss=devideParam(query);

		for( var i = 0; i < ss.length; i++ ){
			if( ss[i] == param ){
				if( i < ss.length - 1){
					val = ss[i + 1];
					break;
				}
			}
		}
		return val;

	}

	function devideParam(str){
		var regExp=/&|=/;

		str = str.substr(1);
		return str.split(regExp);
	}


	function getPDFName(){
		return document.getElementById("pdfFrame").src;
	}

	function setPDF(code){
		document.getElementById("pdfFrame").src = code + ".pdf";
	}



</SCRIPT>
</HEAD>

<body onload="document_onload()">
	<div class="ewdContainer">
		<iframe src="/components/ewd_innermenu.html" name="i_menuFrame" id="i_menuFrame"></iframe>
		<iframe name="pdfFrame" id="pdfFrame"></iframe>
	</div>
</body>
</html>


