<!DOCTYPE html>
<html>
<HEAD>
  <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <META http-equiv="Content-Style-Type" content="text/css">
  <link REL="STYLESHEET" href="../styles/main.css"/>
  <script src="../scripts/lib.js"  ></script>

  <title>Relay / Routing</title>
</HEAD>

<body onload="document_onload_connlist()">
  <div class="popupContainer">
    <iframe id="menuFrame" ></iframe>
    <iframe id="pdfFrame" name="PDF_Frame" src="./components/ewd_loc.html"></iframe>
  </div>
</body>
</html>

