<!DOCTYPE html>
<HTML>
<head>
  <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <META http-equiv="Content-Style-Type" content="text/css">
  <link REL="STYLESHEET" HREF="./styles/main.css"/>
  <script src="./scripts/system.js"></script>
  <script src="./scripts/xml.js"></script>
  <script src="./scripts/lib.js"></script>

  <TITLE id="ewdOverallMenu"></TITLE>
  <script>
    GetTitleName("ewdOverallMenu");
  </script>
</head>

<body style="background-color: #D4D0C8;">
  <table width="100%" height="100%" border="0">
    <tr>
      <td>
        <input type="button" name="connector" value="Connector" onclick="showConnectorList()"> 
        <input type="button" name="routing" value="Relay / Routing" onclick="showLocationList()">
        <input type="button" name="print" value="PRINT" onclick="printPDF()">
      </td>
    </tr>

  </table>
</body>
</HTML>
