html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 33px auto 33px;
    grid-template-columns: 300px auto;
    

    grid-template-areas:
        "menuTop    pdfTop"
        "menuTree   pdf"
        "menuSearch pdf";
}

.popupContainer {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
}

.ewdContainer {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 33px auto;

    grid-template-areas:
        "controls"
        "pdf";
}

iframe {
    border-width: 0px;
    outline: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
